@use "../../abstract/_vars";
@use "sass:map";

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: map.get(vars.$spacing, 400);
    margin-bottom: map.get(vars.$spacing, 675);

    .grid_item {
        min-height: 14.688rem;
        width: 19.625rem;
        border-radius: .5rem;
        box-shadow: 0 0.938rem 30px -11px vars.$light_cyan;
        overflow: hidden;
        transition: all .3s ease;

        &:hover {
            transform: scale(1.1);
        }

        &__content {
            padding: map.get(vars.$spacing, 400) map.get(vars.$spacing, 400) 2.938rem map.get(vars.$spacing, 400);
        }

        &__title {
            margin-bottom: map.get(vars.$spacing, 75);
        }

        &__text {
            width: 100%;
            max-width: 15.625rem;
            margin-bottom: map.get(vars.$spacing, 400);
        }

        &__img {
            display: block;
            margin-left: auto;
        }

        .color_line {
            width: 100%;
            height: .25rem;
        }

        &:nth-of-type(1) {
            .color_line {
                background-color: vars.$cyan;
            }
        }

        &:nth-of-type(2) {
            grid-row-start: 2;

            .color_line {
                background-color: vars.$red;
            }
        }

        &:nth-of-type(3) {
            grid-row-start: 3;

            .color_line {
                background-color: vars.$orange;
            }
        }

        &:nth-of-type(4) {
            grid-row-start: 4;

            .color_line {
                background-color: vars.$blue;
            }
        }
    }
}