@use "../../abstract/_vars";
@use "sass:map";

.grid_item {
    position: relative;
    width: 19.625rem;
    border-radius: .5rem;
    box-shadow: 0 0.938rem 30px -11px vars.$light_cyan;

    &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;      
    border-radius: .5rem;
    background-color: vars.$cyan;
    }

    &__content {
        padding: map.get(vars.$spacing, 400) map.get(vars.$spacing, 400) 2.938rem map.get(vars.$spacing, 400);
    }

    &__title {
        margin-bottom: map.get(vars.$spacing, 75);
    }

    &__text {
        width: 100%;
        max-width: 250px;
        margin-bottom: map.get(vars.$spacing, 400);
    }

    &__img {
        display: block;
        margin-left: auto;
    }
}