/* COLOR */
/* TYPOGRAPHY */
.text_preset_1 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 110%;
  color: #28283D;
}

.text_preset_2--white, .text_preset_2--dark_blue {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  line-height: 110%;
}

.text_preset_2--dark_blue {
  color: #28283D;
}

.text_preset_2--white {
  color: #FAFAFA;
}

.text_preset_3 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: 0.25rem;
}

.text_preset_4--white, .text_preset_4--slate {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%;
}

.text_preset_4--slate {
  color: #87879D;
}

.text_preset_4--white {
  line-height: 150%;
  color: #FAFAFA;
}

.text_preset_5 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 150%;
}

.color_cyan_300 {
  color: #8FE3F9;
}

.color_purple_300 {
  color: #D9B8FF;
}

.margin_left--2 {
  margin-inline-start: 0.156rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

.container {
  position: relative;
  inline-size: 100%;
  max-inline-size: 19.438em;
  margin: 0 auto;
  text-align: center;
}

.section_img {
  display: flex;
  justify-content: center;
  margin-block-end: 3rem;
}
.section_img--large-bottom {
  margin-block-end: 4rem;
}
.section_img--neg_bottom {
  position: relative;
  z-index: 2;
  margin-block-end: -28px;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-block-end: 4rem;
}

.logo {
  margin-block-start: 3rem;
}

.hero {
  margin-block-end: 4rem;
}
.hero .text_breaker {
  display: block;
}
.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.hero__cta_group {
  max-inline-size: 12.063rem;
}
.hero__cta_group button:first-child {
  margin-block-end: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 9.219rem);
  gap: 1rem;
  margin-block-end: 4rem;
}
.grid__item {
  inline-size: 147.5px;
}
.grid__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.625rem;
}

.showcase__text {
  margin-block-end: 4rem;
}
.showcase__intro {
  text-transform: uppercase;
  color: #4D96A9;
  margin-block-end: 1rem;
}
.showcase__slogan {
  margin-block-end: 2rem;
}

.footer__bg {
  min-height: 45.3vh;
  position: relative;
  background-color: #4D96A9;
  background-image: url("../../assets/mobile/footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer__bg::after {
  content: "";
  display: block;
  position: absolute;
  background: #4D96A9;
  opacity: 0.9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.footer__text {
  position: absolute;
  z-index: 2;
  top: 4rem;
}
.footer__slogan, .footer__paragraph {
  margin-block-end: 1.5rem;
}

.button--cyan_600 {
  border-radius: 29px;
  color: #FAFAFA;
  background-color: #4D96A9;
  padding: 1rem 2.5rem;
}

.button--purple_600 {
  border-radius: 29px;
  color: #FAFAFA;
  background-color: #855FB1;
  padding: 1rem 2.5rem;
}