@use "../abstract/vars";
@use "../abstract/utils";
@use "sass:map";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

.container {
  position: relative;
  inline-size: 100%;
  max-inline-size: 19.438em;
  margin: 0 auto;
  text-align: center;
}

.section_img {
  display: flex;
  justify-content: center;
  margin-block-end: map.get(vars.$spacing, 600);

  &--large-bottom {
    margin-block-end: map.get(vars.$spacing, 800);
  }

  &--neg_bottom {
    position: relative;
    z-index: 2;
    margin-block-end: -28px;
  }
}