@use "../abstract/vars";
@use "sass:map";

.container {
    width:100%;
    max-width: 19.75rem;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 41.25rem;
    }
}