@use "../abstract/vars";
@use "sass:map";

@mixin button--mod($bg_color, $bg_hover) {
    border-radius: 29px;
    color: vars.$white;
    background-color: $bg_color;
    padding: map.get(vars.$spacing, 200) map.get(vars.$spacing, 500);
    transition: background-color .3s ease, transform .2s ease;

    &:hover {
        background-color: $bg_hover;
    }
    
    &:active {
        transform: scale(.99);
    }
}

.button--cyan_600 { @include button--mod(map.get(vars.$cyan, 600), map.get(vars.$cyan, 400)); }
.button--purple_600 { @include button--mod(map.get(vars.$purple, 600), map.get(vars.$purple, 400)); }