@use "../abstract/vars";
@use "../abstract/utils";
@use "sass:map";

.footer {

    &__bg {
        min-height: 45.3vh;
        position: relative;
        background-color: map.get(vars.$cyan, 600);
        background-image: url("../../assets/mobile/footer.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &::after {
            content: "";
            display: block;
            position: absolute;
            background: map.get(vars.$cyan, 600);
            opacity: .9;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1
        }
    }

    &__text {
        position: absolute;
        z-index: 2;
        top: map.get(vars.$spacing, 800);
    }

    &__slogan,
    &__paragraph {
        margin-block-end: map.get(vars.$spacing, 300);
    }
}