@use "../abstract/vars";
@use "sass:map";

.hero {
    margin-block-end: map.get(vars.$spacing, 800);

    .text_breaker {
        display: block;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: map.get(vars.$spacing, 300);
    }

    &__cta_group {
        max-inline-size: 12.063rem;

        button:first-child {
            margin-block-end: map.get(vars.$spacing, 200);
        }
    }
}