/* COLOR */
/* TYPOGRAPHY */
/* UTILS */
.text_preset_1 {
  font-family: "Poppins", serif;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.016rem;
  color: #4D4F62;
}

.text_preset_2 {
  font-family: "Poppins", serif;
  font-weight: 200;
  line-height: 140%;
  letter-spacing: 0.016rem;
  color: #4D4F62;
}

.text_preset_3 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 135%;
  color: #4D4F62;
}

.text_preset_4 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 140%;
  letter-spacing: 0.001rem;
  color: #4D4F62;
}

.text_preset_5 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 160%;
  color: #4D4F62;
}

.container {
  width: 100%;
  max-width: 19.75rem;
  margin: 0 auto;
}

.intro_text {
  text-align: center;
  margin: 3.5rem auto 3.75rem;
}
.intro_text .intro_text__addition {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 3.75rem;
}
.grid .grid_item {
  min-height: 14.688rem;
  width: 19.625rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.938rem 30px -11px #83A6D2;
  overflow: hidden;
  transition: all 0.3s ease;
}
.grid .grid_item:hover {
  transform: scale(1.1);
}
.grid .grid_item__content {
  padding: 2rem 2rem 2.938rem 2rem;
}
.grid .grid_item__title {
  margin-bottom: 0.375rem;
}
.grid .grid_item__text {
  width: 100%;
  max-width: 15.625rem;
  margin-bottom: 2rem;
}
.grid .grid_item__img {
  display: block;
  margin-left: auto;
}
.grid .grid_item .color_line {
  width: 100%;
  height: 0.25rem;
}
.grid .grid_item:nth-of-type(1) .color_line {
  background-color: #44D3D2;
}
.grid .grid_item:nth-of-type(2) {
  grid-row-start: 2;
}
.grid .grid_item:nth-of-type(2) .color_line {
  background-color: #EA5454;
}
.grid .grid_item:nth-of-type(3) {
  grid-row-start: 3;
}
.grid .grid_item:nth-of-type(3) .color_line {
  background-color: #FCAE4A;
}
.grid .grid_item:nth-of-type(4) {
  grid-row-start: 4;
}
.grid .grid_item:nth-of-type(4) .color_line {
  background-color: #549EF2;
}