@use "../abstract/_vars";
@use "sass:map";

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    border-radius: 0.5rem;
    overflow: hidden;

    &__img {
        width: 100%;
        height: 342px;
        max-width: 350px;
        object-fit: cover;
    }

    &__text {
        padding: map.get(vars.$spacing, 400);

        &>:not(:last-child) {
            margin-bottom: map.get(vars.$spacing, 300);
        }

        .card__product_category {
            text-transform: uppercase;
        }
    }
}