@use "sass:map";

/* COLOR */
$cyan: (
    300: #8FE3F9,
    600: #4D96A9
);

$slate: (
    300: #D1D1DF,
    600: #87879D,
    900: #28283D
);

$purple: (
    300: #D9B8FF,
    600: #855FB1
);

$white: #FAFAFA;

/* TYPOGRAPHY */
$font_family: "Red Hat Display", sans-serif;

$fw: (
    "medium": 500,
    "black": 900
);

$fs: (
    16: 1rem,
    18: 1.125rem,
    32: 2rem,
    40: 2.5rem,
    64: 4rem,
);

$spacing: (
    50: 0.25rem,  // 4px
    100: 0.5rem,  // 8px
    200: 1rem,    // 16px
    300: 1.5rem,  // 24px
    400: 2rem,    // 32px
    500: 2.5rem,  // 40px
    600: 3rem,    // 48px
    700: 3.5rem,  // 76px
    800: 4rem,    // 64px
    900: 4.5rem,  // 72px
    1000: 5rem,   // 80px
    1400: 7rem   // 113px
);